/*Index styles*/

.main__title {
    font-size: 8rem;
}

/*.section__valores {
    background-color: transparent;
    padding-top: 5%;
    padding-bottom: 3%;
}*/

.title__valores {
    color: #ff0437;
}

.valores__icon{
    color:  #ff0437;
    font-size: 2rem;
}